  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// BOWER LIBRARY

@import 'library'

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(55, 58, 60)
$color-white = rgb(255, 255, 255)
$color-gray = rgba(62, 62, 62, .2)
$color-light-gray = rgb(241, 241, 241)
$color-dark-gray = rgba(55, 58, 60, .498039)

$speed-animation-fast = .3s

// ******************************************************

// BASIC

html
  background-color: $color-light-gray
  color: $color-black

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial

.desktop-only
  display: none

// BORDERS

border($top = true, $left = true, $bottom = true, $right = true)
  if ($top)
    border-top: solid 1px $color-black
  if ($left)
    border-left: solid 1px $color-black
  if ($bottom)
    border-bottom: solid 1px $color-black
  if ($right)
    border-right: solid 1px $color-black

// ******************************************************

// GALLERIES

.swiper-pagination
  position: initial

// ******************************************************

// BORDERS

.dotted-divider
  display: flex
  justify-content: space-between

.dotted-divider-side
  flex-grow: 2
  border-top-width: 1px
  border-top-style: dotted
  border-top-color: $color-dark-gray

.dotted-divider-center
  flex-grow: 0

.dotted-divider-full
  height: 1px
  border-top-width: 1px
  border-top-style: dotted
  border-top-color: $color-dark-gray

// ******************************************************

// SHUFFLE

#shuffle-container
  position: relative
  display: block
  overflow: hidden
  height: 0
  transition: opacity $speed-animation-fast
  &.hidden
    opacity: 0

#shuffle-preloader
  min-height: 80vh

// ******************************************************

// LUMINARIES

#luminaries-sort-order
  display: none

// ******************************************************

// EXPANDABLES
.expandable-content
  display: none
  

// ******************************************************

// MEDIA QUERIES

$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 16px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 14px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  font-size($font-size-basic)

  .mobile-only
    display: none

  @import 'responsive/tablet'

@media screen and (min-width: 860px)

  grid(750px, false, m)

@media screen and (min-width: 1024px)

  $gutter = 16px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid(900px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-size($font-size-basic)

  .desktop-only
    display: initial

  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  grid(1100px)

@media screen and (min-width: 1366px)

  grid(1300px)

// @media screen and (min-width: 1680px)
//
//   grid(1600px)
//
// @media screen and (min-width: 1920px)
//
//   grid(1800px)
