  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// BOWER LIBRARY

@import 'library'

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(55, 58, 60)
$color-white = rgb(255, 255, 255)
$color-light-gray = rgb(241, 241, 241)
$color-dark-gray = rgba(55, 58, 60, 0.498039)

$speed-animation-fast = .3s

// ******************************************************

// BASIC

html
  background-color: $color-light-gray
  color: $color-black

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// ******************************************************

// BORDERS

.dotted-divider
  display: flex
  justify-content: space-between

.dotted-divider-side
  border-top-style: dotted
  border-top-width: 1px
  border-top-color: $color-dark-gray
  flex-grow: 2

.dotted-divider-center
  flex-grow: 0

// ******************************************************

// SHUFFLE

#shuffle-container
  display: block
  position: relative
  height: 0px
  overflow: hidden
  opacity: 0
  transition: opacity $speed-animation-fast

#shuffle-preloader
  min-height: 80vh

// ******************************************************

// MEDIA QUERIES

$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 16px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 14px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  font-size($font-size-basic)

  .mobile-only
    display: none !important

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 16px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-size($font-size-basic)

  .desktop-only
    display: initial !important

  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  grid(1200px)

@media screen and (min-width: 1366px)

  grid(1300px)

@media screen and (min-width: 1680px)

  grid(1600px)

@media screen and (min-width: 1920px)

  grid(1800px)
