  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// BOWER LIBRARY

@import 'library'

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(55, 58, 60)
$color-white = rgb(255, 255, 255)
$color-gray = rgba(62, 62, 62, .2)
$color-light-gray = rgb(241, 241, 241)
$color-dark-gray = rgba(55, 58, 60, .498039)

$color-red = rgba(255, 0, 0, .5)
$color-blue = rgb(102, 175, 233)

$speed-animation-fast = .3s

// ******************************************************

// BASIC

html
  background-color: $color-light-gray
  color: $color-black

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial

.desktop-only
  display: none

// BORDERS

setBorders($top = true, $left = true, $bottom = true, $right = true, $color = $color-black)
  if ($top)
    border-top: solid 1px $color
  if ($left)
    border-left: solid 1px $color
  if ($bottom)
    border-bottom: solid 1px $color
  if ($right)
    border-right: solid 1px $color

// ******************************************************

// FORMS

input, textarea
  font-family: $font-serif
  &:focus
    outline-width: 1px
    outline-color: $color-blue
  +placeholder()
    color: $color-dark-gray

input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]), textarea
  max-width: 100%
  width: 100%
  background-color: $color-white
  setBorders(true, true, true, true, $color-dark-gray)

.connect-form-submit
  border: 0
  background: none

.gform_validation_container, .gform_wrapper .gform_validation_container, body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container, body .gform_wrapper li.gform_validation_container, body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container
  display: none

.validation_error, .validation_message
  color: $color-red

// ******************************************************

// GALLERIES

.swiper-pagination
  position: initial

// ******************************************************

// CAROUSEL

.size-l-12-carousel
  display: block

.carousel-content-holder
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  padding: 0 16%
  color: $color-white

.carousel-content
  width: 100%

.carousel-pagination
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: initial
  display: flex
  width: 15%
  color: $color-white

.carousel-pagination-item.swiper-pagination-bullet
  display: block
  padding: 5px 0
  width: 100%
  height: auto
  background: none
  opacity: 1
  &.swiper-pagination-bullet-active
    background: none

.carousel-pagination-item-number
  &:before, &:after
    padding: 0 5px
    content: '—'
    opacity: 0

.carousel-pagination-item.swiper-pagination-bullet-active, .carousel-pagination-item:hover
  .carousel-pagination-item-number
    &:before, &:after
      opacity: 1


// ******************************************************

// BORDERS

.dotted-divider
  display: flex
  justify-content: space-between

.dotted-divider-side
  flex-grow: 2
  border-top-width: 1px
  border-top-style: dotted
  border-top-color: $color-dark-gray

.dotted-divider-center
  flex-grow: 0

.dotted-divider-full
  height: 1px
  border-top-width: 1px
  border-top-style: dotted
  border-top-color: $color-dark-gray

// ******************************************************

// SHUFFLE

#shuffle-container
  position: relative
  display: block
  overflow: hidden
  height: 0
  transition: opacity $speed-animation-fast
  &.hidden
    opacity: 0

#shuffle-preloader
  min-height: 80vh

// ******************************************************

// LUMINARIES

#luminaries-sort-order
  display: none

// ******************************************************

// DRAWERS

.drawer-content
  display: none

// ******************************************************

// S&V PAGE

.grid-row
  .media-item
    &.active
      .media-item-image
        display: none
    &.playing-video
      max-width: 100%
      width: 100%

// ******************************************************

// ABOUT PAGE DRAWERS

.about-page-drawer-trigger
  &:after
    padding-left: 3px
    content: '+'
  &.active:after
    content: '\2212'

.about-page-drawer
  display: none
  &.active
    display: initial

// ******************************************************

// EXPANDABLES

.expandable-content
  display: none

// ******************************************************

// QUOTES

.quote-pin-holder
  svg
    height: 130px

// ******************************************************

// WIDE ADS

.wide-size-ad
  position: relative
  color: $color-white

.wide-ad-text
  position: absolute
  top: 0
  left: 0

.wide-ad-link-holder
  position: absolute
  right: 0
  bottom: 0

.wide-ad-link-holder
  .link-button
    background-color: $color-gray

// ******************************************************

// LIGHTBOX

#lightbox
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 900
  display: none
  background-color: $color-dark-gray

#lightbox-content
  margin: auto
  max-height: 90vh
  max-width: 90vw
  background-color: $color-white

.lightbox-image
  max-height: 80vh

// ******************************************************

// MEDIA QUERIES

$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 16px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 14px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  font-size($font-size-basic)

  .mobile-only
    display: none

  @import 'responsive/tablet'

@media screen and (min-width: 860px)

  grid(750px, false, m)

@media screen and (min-width: 1024px)

  $gutter = 16px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid(900px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-size($font-size-basic)

  .desktop-only
    display: initial

  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  grid(1100px)

@media screen and (min-width: 1366px)

  grid(1300px)

// @media screen and (min-width: 1680px)
//
//   grid(1600px)
//
// @media screen and (min-width: 1920px)
//
//   grid(1800px)
