// ******************************************************

// HEADER

#header
  padding-top: $margin-basic
  padding-bottom: $margin-small

#menu
  li
    margin-left: $margin-small

// ******************************************************

// BORDERS

.dotted-divider-side
  margin-top: $margin-micro

.dotted-divider-left
  margin-right: $margin-small

.dotted-divider-right
  margin-left: $margin-small

// ******************************************************

// SHUFFLE

.shuffle-item
  margin-bottom: $margin-small

// ******************************************************

// CARDS

.card
  padding: $margin-small
