// ******************************************************

// FORMS

input, textarea
  padding: $margin-tiny $margin-small

input[type=file]
  padding: $margin-small

input[type=radio]
  margin-right: $margin-small

.connect-form-submit
  padding-top: $margin-tiny

.gform_heading
  margin-top: $margin-basic
  margin-bottom: $margin-basic

.gfield
  margin-bottom: $margin-small
  clearfix()
  .gfield_label, .ginput_container
    float: left
  .gfield_label
    width: 30%
  .ginput_container
    width: 70%
  .validation_message
    width: 70%
    float: right
  label
    margin-bottom: $margin-small
  .instruction, #extensions_message, .validation_message
    margin-top: $margin-tiny

.gfield_required
  padding-left: $margin-tiny

.validation_error
  margin-bottom: $margin-small

// ******************************************************

// LINKS

.link-button
  padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny

// ******************************************************

// HEADER

#header
  padding-top: $margin-basic
  padding-bottom: $margin-small

#menu
  li
    margin-left: $margin-small

// ******************************************************

// BORDERS

.dotted-divider-side
  margin-top: $margin-micro

.dotted-divider-left
  margin-right: $margin-small

.dotted-divider-right
  margin-left: $margin-small

// ******************************************************

// SHUFFLE

.shuffle-item
  margin-bottom: $margin-small

// ******************************************************

// CARDS

.card
  padding: $margin-small

// ******************************************************

// LIVE PAGE

.live-forthcoming-event-meta
  margin-top: $margin-large

// ******************************************************

// S&V PAGE

#luminaries-sort-list
  column-count: 4

.grid-row
  .media-item
    &.playing-audio
      max-width: (100% / 3) * 2
      width: (100% / 3) * 2

// ******************************************************

// CAROUSEL

.carousel-links
  li
    padding: $margin-micro $margin-tiny
    &:before
      padding-left: $margin-small
      padding-right: $margin-small
    &:first-child
      &:before
        padding-left: 0
        padding-right: 0


// ******************************************************

// WIDE ADS

.wide-ad-text
  top: $margin-small
  left: $margin-small

.wide-ad-link-holder
  bottom: $margin-small
  right: $margin-small

// ******************************************************

// LIGHTBOX

#lightbox-content
  padding: $margin-small