// ******************************************************

// HEADER

#header
  padding-top: $margin-basic
  padding-bottom: $margin-small

#menu-item-logo
  svg
    width: 145px
    height: 130px

#menu
  padding-top: 61px
  text-align: right
  li
    margin-left: $margin-small
    &:first-child
      margin-left: 0
  a:hover, a.active
    border-bottom: 1px solid $color-black
    padding-bottom: 3px

#menu-item-lock
  svg
    width: 11px
    height: 17px
    margin-top: -3px
    vertical-align: middle