// ******************************************************

// FORMS

input, textarea
  padding: $margin-tiny $margin-small

input[type=file]
  padding: $margin-small

input[type=radio]
  margin-right: $margin-small

.connect-form
  input
    margin-bottom: $margin-small

.connect-form-submit
  padding-top: $margin-tiny

.gform_heading
  margin-top: $margin-basic
  margin-bottom: $margin-basic

.gfield
  margin-bottom: $margin-small
  label
    margin-bottom: $margin-small
  .instruction, #extensions_message, .validation_message
    margin-top: $margin-tiny
    font-family: font-stack('Scotch Micro')
    text-transform: uppercase

.gfield_required
  color: $color-red
  padding-left: $margin-tiny

.gform_button
  display: block
  width: auto
  margin: 0 auto
  background-color: transparent

.validation_error
  margin-bottom: $margin-small

// ******************************************************

// LINKS & BUTTONS

.link-button, .gform_button
  display: inline-block
  setBorders()
  padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny
  font-style-micro()
  line-height: 1
  cursor: pointer
  &:hover
    background-color: $color-gray

.button-list
  display: flex
  line-height: 1
  justify-content: center
  li
    display: inline-block
    setBorders()
    padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny
    font-style-micro()
    margin-left: -1px
    cursor: pointer
    &:first-child()
      margin-left: 0px
    &:hover
      background-color: $color-gray

.share-widget
  text-align: center
  .share-trigger
    display: inline-block
    line-height: 1
  .share-list
    display: none

// ******************************************************

// HEADER

#header
  position: relative
  padding-top: $margin-tiny
  padding-bottom: $margin-tiny

#menu-hamburger
  position: absolute
  top: $margin-small
  right: $margin-small
  z-index: 100
  svg
    width: 18px
    height: 11px

#menu-item-logo
  svg
    width: 80px
    height: 80px

#menu
  padding-top: $margin-tiny
  text-align: left
  li
    margin-right: $margin-small
    margin-bottom: $margin-small
    &:last-child
      margin-right: 0
  a:hover, a.active
    padding-bottom: 3px
    border-bottom: 1px solid $color-black

#menu-links
  display: none

#header.mobile-active
  #menu-links
    display: initial

#menu-item-lock
  svg
    margin-top: -3px
    width: 11px
    height: 17px
    vertical-align: middle

// ******************************************************

// BORDERS

.dotted-divider-side
  margin-top: $margin-micro

.dotted-divider-left
  margin-right: $margin-small

.dotted-divider-right
  margin-left: $margin-small

// ******************************************************

// SHUFFLE

.shuffle-item
  margin-bottom: $margin-small

// ******************************************************

// CARDS

.card
  padding: $margin-small
  background-color: $color-white
  &.card-big
    padding: $margin-basic

// ******************************************************

// LIVE PAGE

.live-forthcoming-event-meta
  margin-top: $margin-large

// ******************************************************

// S&V PAGE

#luminaries-sort-list
  column-count: 2

.media-item-play
  padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny

// ******************************************************

// FOOTER

#footer
  padding-top: $margin-small
  padding-bottom: $margin-basic

#footer-pin-holder
  padding-top: $margin-large
  padding-bottom: $margin-large
  svg
    height: 130px

.footer-menu
  margin-bottom: $margin-basic
  li
    margin: 0 $margin-tiny

// ******************************************************

// GALLERY

.swiper-button-prev
  svg
    padding-left: $margin-small

.swiper-button-next
  svg
    padding-right: $margin-small

// ******************************************************

// CAROUSEL

.carousel-links
  display: inline-block
  background-color: $color-gray
  li
    padding: $margin-micro $margin-tiny
    &:before
      padding-left: $margin-small
      padding-right: $margin-small
      content: '|'
    &:first-child
      &:before
        padding-left: 0
        padding-right: 0
        content: ''

  // HOME CAROUSEL

.home-carousel
  height: 520px
  .swiper-slide
    background-position: center center
    background-size: cover

.carousel-pagination
  display: none

// ******************************************************

// WIDE ADS

.wide-ad-text
  top: $margin-small
  left: $margin-small

.wide-ad-link-holder
  bottom: $margin-small
  right: $margin-small

// ******************************************************

// LIGHTBOX

.thumb-for-lightbox
  svg
    top: $margin-tiny
    right: $margin-tiny

#lightbox-inner
  padding: $margin-small

#lightbox-close
  top: $margin-small
  right: $margin-small
