// ******************************************************

// FORMS

input, textarea
  padding: $margin-tiny $margin-small

input[type=file]
  padding: $margin-small

input[type=radio]
  margin-right: $margin-small

.connect-form-submit
  padding-top: $margin-tiny

.gform_heading
  margin-top: $margin-basic
  margin-bottom: $margin-basic

.gfield
  margin-bottom: $margin-small
  label
    margin-bottom: $margin-small
  .instruction, #extensions_message, .validation_message
    margin-top: $margin-tiny
    font-family: font-stack('Scotch Micro')
    text-transform: uppercase

.gfield_required
  color: $color-red
  padding-left: $margin-tiny

.gform_button
  display: block
  width: auto
  margin: 0 auto
  background-color: transparent

.validation_error
  margin-bottom: $margin-small

// ******************************************************

// LINKS

.link-button, .gform_button
  setBorders()
  padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny
  cursor: pointer
  &:hover
    background-color: $color-gray

// ******************************************************

// HEADER

#header
  padding-top: $margin-small
  padding-bottom: $margin-small

#menu-item-logo
  svg
    width: 100px
    height: 100px

#menu
  padding-top: $margin-tiny
  text-align: left
  li
    margin-right: $margin-small
    &:last-child
      margin-right: 0
  a:hover, a.active
    border-bottom: 1px solid $color-black
    padding-bottom: 3px

#menu-item-lock
  svg
    width: 11px
    height: 17px
    margin-top: -3px
    vertical-align: middle

// ******************************************************

// BORDERS

.dotted-divider-side
  margin-top: $margin-micro

.dotted-divider-left
  margin-right: $margin-small

.dotted-divider-right
  margin-left: $margin-small

// ******************************************************

// SHUFFLE

.shuffle-item
  margin-bottom: $margin-small

// ******************************************************

// CARDS

.card
  padding: $margin-small
  background-color: $color-white

// ******************************************************

// LIVE PAGE

.live-forthcoming-event-meta
  margin-top: $margin-large

// ******************************************************

// FOOTER

#footer
  padding-top: $margin-small
  padding-bottom: $margin-basic

#footer-pin-holder
  padding-top: $margin-large
  padding-bottom: $margin-large
  svg
    height: 130px

.footer-menu
  margin-bottom: $margin-basic
  li
    margin: 0 $margin-tiny

// ******************************************************

// CAROUSEL

.carousel-links
  display: inline-block
  background-color: $color-gray
  li
    padding: $margin-micro $margin-tiny
    &:before
      padding-left: $margin-small
      padding-right: $margin-small
      content: '|'
    &:first-child
      &:before
        padding-left: 0
        padding-right: 0
        content: ''

  // HOME CAROUSEL

.home-carousel
  height: 420px
  .swiper-slide
    background-position: center center
    background-size: cover

.carousel-pagination
  display: none

// ******************************************************

// WIDE ADS

.wide-ad-text
  top: $margin-small
  left: $margin-small

.wide-ad-link-holder
  bottom: $margin-small
  right: $margin-small