// ******************************************************

// FORMS

input, textarea
  padding: $margin-tiny $margin-small

input[type=file]
  padding: $margin-small

input[type=radio]
  margin-right: $margin-small

.connect-form-submit
  padding-top: $margin-tiny

.gform_heading
  margin-top: $margin-basic
  margin-bottom: $margin-basic

.gfield
  margin-bottom: $margin-small
  label
    margin-bottom: $margin-small
  .instruction, #extensions_message, .validation_message
    margin-top: $margin-tiny

.gfield_required
  padding-left: $margin-tiny

.validation_error
  margin-bottom: $margin-small

// ******************************************************

// LINKS & BUTTONS

.link-button
  padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny

.button-list
  li
    padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny

// ******************************************************

// HEADER

#header
  padding-top: $margin-basic
  padding-bottom: $margin-small

#menu-item-logo
  svg
    width: 145px
    height: 130px

#menu
  padding-top: 61px
  text-align: right
  li
    margin-left: $margin-small
    margin-right: 0
    &:first-child
      margin-left: 0

// ******************************************************

// BORDERS

.dotted-divider-side
  margin-top: $margin-micro

.dotted-divider-left
  margin-right: $margin-small

.dotted-divider-right
  margin-left: $margin-small

// ******************************************************

// SHUFFLE

.shuffle-item
  margin-bottom: $margin-small

// ******************************************************

// CARDS

.card
  padding: $margin-small
  &.card-big
    padding: $margin-basic

// ******************************************************

// LIVE PAGE

.live-forthcoming-event-meta
  margin-top: $margin-large

// ******************************************************

// S&V PAGE

#luminaries-sort-list
  column-count: 3

.media-item-play
  padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny

// ******************************************************

// CAROUSEL

.carousel-links
  li
    padding: $margin-micro $margin-tiny
    &:before
      padding-left: $margin-small
      padding-right: $margin-small
    &:first-child
      &:before
        padding-left: 0
        padding-right: 0

  // HOME CAROUSEL

.carousel-pagination
  display: flex

// ******************************************************

// WIDE ADS

.wide-ad-text
  top: $margin-small
  left: $margin-small

.wide-ad-link-holder
  bottom: $margin-small
  right: $margin-small

// ******************************************************

// LIGHTBOX

#lightbox-inner
  padding: $margin-small

#lightbox-close
  top: $margin-small
  right: $margin-small