// ******************************************************

// FORMS

input, textarea
  padding: $margin-tiny $margin-small

input[type=file]
  padding: $margin-small

input[type=radio]
  margin-right: $margin-small

.connect-form
  input
    margin-bottom: 0

.connect-form-submit
  padding-top: $margin-tiny

.gform_heading
  margin-top: $margin-basic
  margin-bottom: $margin-basic

.gfield
  margin-bottom: $margin-small
  label
    padding-right: $margin-small
    margin-bottom: $margin-small
  .instruction, #extensions_message, .validation_message
    margin-top: $margin-tiny

.gfield_required
  padding-left: $margin-tiny

.validation_error
  margin-bottom: $margin-small

// ******************************************************

// LINKS & BUTTONS

.link-button
  padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny

.button-list
  li
    padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny

// ******************************************************

// HEADER

#header
  padding-top: $margin-basic
  padding-bottom: $margin-small

#menu-item-logo
  svg
    width: 142px
    height: 130px

#menu-links
  display: initial

#menu
  width: 67%
  padding-top: 61px
  margin-left: 33%
  text-align: right
  li
    margin-left: $margin-tiny
    margin-right: 0
    &:first-child
      margin-left: 0

// ******************************************************

// BORDERS

.dotted-divider-side
  margin-top: $margin-micro

.dotted-divider-left
  margin-right: $margin-small

.dotted-divider-right
  margin-left: $margin-small

// ******************************************************

// SHUFFLE

.shuffle-item
  margin-bottom: $margin-small

// ******************************************************

// CARDS

.card
  padding: $margin-small
  &.card-big
    padding: $margin-basic

// ******************************************************

// EVENTS

.event-forthcoming-title
  min-height: 3.6em

// ******************************************************

// LIVE PAGE

.live-forthcoming-event-meta
  margin-top: $margin-large

// ******************************************************

// S&V PAGE

#luminaries-sort-list
  column-count: 3

.media-item-play
  padding: $margin-tiny $margin-tiny $margin-micro $margin-tiny

// ******************************************************

// GALLERY

.swiper-button-prev
  svg
    padding-left: $margin-small

.swiper-button-next
  svg
    padding-right: $margin-small

// ******************************************************

// CAROUSEL

.carousel-links
  li
    padding: $margin-micro $margin-tiny
    &:before
      padding-left: $margin-small
      padding-right: $margin-small
    &:first-child
      &:before
        padding-left: 0
        padding-right: 0

  // HOME CAROUSEL

.carousel-pagination
  display: flex

// ******************************************************

// ADS

.wide-ad-text
  top: ($margin-small + $margin-tiny)
  left: ($margin-small + $margin-tiny)

.wide-ad-link-holder
  bottom: ($margin-small + $margin-tiny)
  right: ($margin-small + $margin-tiny)

.tall-ad-title
  min-height: 2.4em

// ******************************************************

// LIGHTBOX

.thumb-for-lightbox
  svg
    top: $margin-tiny
    right: $margin-tiny

#lightbox-inner
  padding: $margin-small

#lightbox-close
  top: $margin-small
  right: $margin-small